body {
    color: black;
    font-size:16px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.box-login {
    width: 250px;
    height: auto;
    margin: auto;
}
.header_admin {
    display: flex;
    justify-content: space-between;

}
input,
select,
textarea {
}


