body {
    height: 100vh;


}
.btn_login {
    width: 50px;
    margin:0 20px;
    font-size: 10px
}
.btn_login a{
 
    font-size: 20px
}
.text_logo {
    color: white !important;
    font-size: 40px;

}
.box_content-link {
    display: block;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 8px;
}
.text_box {
    text-decoration: none;
    font-size: 16px;
    margin: 10px 0;
}
.box_content-link:hover {
    text-decoration: none;
}
.box_img {
    width: 80%;
    margin: auto;
}

.pagination-container {
    display: flex;
    justify-content: center;
}
.contai_conten {
    display: flex;
    justify-content: space-between
}
.exten_item a {
    display: block;
    color:dimgrey
}
.box_exten {
    display: flex;
    flex-direction: column;
    list-style: none;

}
.body-content {
}
.footer {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center
}
.box_logOut {
    display: flex;

}
#nameUser {
    width: 100px;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
}
.btn_login {
    padding: 6px 10px;
    margin-right: 16px;
    border: 1px;
    display: block;
}
.link_login {
    color: antiquewhite;
    display: block;
    font-size: 12px !important;
    width: 70px;
    height: 36px;
    text-align: center;
    line-height: 3;
    background-color: darkseagreen;
    border-radius: 5px;
    margin-left: 10px;
}
.ctn {
    min-height: 1000px !important
}
