@model List<quanlysach.Models.DB.Category>
@{
    ViewBag.Title = "IndexCate";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var index = 1;
    var listBook = @ViewBag.listBook;

}
<button type="button" class="btn btn-primary text-center " data-mdb-toggle="modal" data-mdb-target="#exampleModal" style="margin: 20px 0" onclick="AddBook()
">
    thêm danh mục
</button>



<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Loại Sách</th>
            <th>Số Lượng</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var dem = 0;
            <tr class="">
                <td>@index</td>
                <td>@item.nametype</td>

                @for (int i = 0; i < listBook.Count; i++)
                {
                    if (item.idcate == listBook[i].idctg)
                    {
                        dem++;
                    }
                }
                <td>@dem</td>


                <td>

                    <button class=" btn-primary" onclick="Edit(id)">Edit</button>
                </td>

            </tr>
            index++;

        }

    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm/Sửa sách</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-outline">
                    <input type="text" id="namebook" class="form-control" placeholder="nhập danh mục" />
                </div>

                <div class="form-outline">
                    <p style="color:red" id="messAdd"></p>
                </div>

            </div>
            <input type="text" id="id" class="form-control" hidden visible />

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">hủy bỏ</button>
                <div type="button" class="btn btn-primary" onclick="SaveClick()" id="boxAddBook"> Lưu</div>
            </div>
        </div>
    </div>
</div>

<script>
    function Edit(id) {

    }
</script>



